@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
    
}
.main-container{
    width: 700px;
    border: 1px solid red;
    margin: 50px auto;
    background-color: #1DE592;
    padding: 140px 50px 200px 50px;
    font-family: 'Segoe UI';
    border:none;
    border-radius: 15px;
}
.main-container h1{
    font-size: 3.1rem;
    font-weight: 550;
    font-family: Poppins;
    line-height: 60px;
    margin-bottom: 1rem;
}
.main-container p {
    font-weight: 500;
    margin-bottom: 2rem;
    font-family: Poppins;
    font-size: 1.1rem;
}
.btn{
    padding: 12px 40px;
    font-size: 1.5rem;
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    font-weight: 700;
    border: none;
    border-radius: 30px;
    font-family:'Segoe UI';
    font-family: Poppins
    
}