*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.main-container{
    max-width: 450px;
    margin: 120px auto;
}
.main-container img{
    width: 200px;
    height: auto;
}
.main-container .image-container{
    width: 100%;
    text-align: center;
}
.main-container .welcome-heading{
    text-align: center;
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
    padding: 2rem 0rem 2rem 0px;
    font-size: 1rem;
}
.login-container{
    width: 350px;
    margin-bottom: 2rem;
    margin: 0 auto 2rem auto;
    position: relative;
}
.login-container input{
 border: 1px solid rgb(216, 211, 211);
 padding: 1.1rem;
 font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
 border-radius: 10px;
 margin-bottom: 1rem;
 width:100%;
 font-size: 1rem;
 
}

.login-container p{
    font-size: 1rem;
    color:rgb(174, 178, 182);
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
    position: absolute;
    right:10px;
    bottom: 35px
}
.btn{
  padding: 1rem 40px;
  border-radius: 30px;
  background-color: black;
  color:white;
  font-size: 1rem;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.login-button{
    text-align: center;
    
}
.signup-container{
    text-align: center;
    padding: 2rem 0px;
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
    color: lightslategrey;
    font-weight: 500;
    font-size: 14px;
}
.signup-container a, 
.footer-container a{
    color:rgb(43, 44, 44);
    
}
.footer-container{
    text-align: center;
    width: 100%;
}
.footer-container p {
    font-size: 14px;
    font-family: "Google Sans Display", Arial, Helvetica, sans-serif;
    color: lightslategrey;
}